@use '../../../styles/mixins.scss' as mixins;

.icons_column {
  display: grid !important;
  align-items: center;
  justify-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: var(--main-gradient);
    opacity: 0.5;

    @include mixins.onTablet {
      content: unset;
    }
  }
}

.column_3 {
  gap: 25px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: var(--main-gradient);

    @include mixins.onTablet {
      content: unset;
    }
  }

  @include mixins.onTablet {
    margin-top: -60px;
    min-width: 170px;
  }

  @include mixins.on1024 {
    margin: 0;
    align-items: flex-start;
    gap: 20px;
    
    & > a:nth-of-type(-n + 4) {
      height: 1px;
    }

    & > a:nth-last-child(1) {
      position: absolute;
      z-index: 1;
      bottom: -90px;
      background: var(--theme-background);
      right: 82%;
      padding: 30px 0;
    }
  }
}

.whatsApp {
  &:hover {
    & g > rect {
      fill: #36bb22;
    }
  }
}

.tg {
  &:hover {
    path:nth-child(1) {
      fill: #269dd8;
    }
  }
}

.e_company {
  &:hover {
    & g > rect {
      fill: #e00700;
    }
  }
}

.virgin_mobile {
  &:hover {
    path:nth-child(1),
    path:nth-child(3) {
      fill: #e10a0a;
    }
  }
}

.microsoft {
  & > path {
    fill: var(--link-color);
  }

  &:hover {
    path:nth-child(1) {
      fill: #706d6e;
    }
    path:nth-child(2) {
      fill: #f1511b;
    }
    path:nth-child(3) {
      fill: #80cc28;
    }
    path:nth-child(4) {
      fill: #00adef;
    }
    path:nth-child(5) {
      fill: #fbbc09;
    }
  }
}

.slack {
  path {
    fill: var(--link-color);
  }

  &:hover {
    path:nth-child(1),
    path:nth-child(2) {
      fill: var(--main-text);
    }
    & > g {
      path:nth-child(1) {
        fill: #e01e5a;
      }
      path:nth-child(2) {
        fill: #36c5f0;
      }
      path:nth-child(3) {
        fill: #2eb67d;
      }
      path:nth-child(4) {
        fill: #ecb22e;
      }
    }
  }
}

.meta {
  &:hover {
    path:nth-of-type(-n + 4) {
      fill: var(--meta-text);
    }
    path:nth-child(5) {
      fill: #0081fb;
    }
    path:nth-child(6) {
      fill: url(#paint0_linear_577_3858);
    }
    path:nth-child(7) {
      fill: url(#paint1_linear_577_3858);
    }
  }
}
