@use '../../../styles/mixins.scss' as mixins;

.letter {
  position: absolute;
  display: inline-block;
  transform-origin: 0 100%;

  font-size: 16px;
  
  @include mixins.onTablet {
    font-size: 20px;
  }
}

.circle {
  position: relative;
}

.circleText__char {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 100%;
  display: inline-block;
  font-size: 16px;
  
  @include mixins.onTablet {
    font-size: 20px;
  }
}
