@use '../../../styles/mixins.scss' as mixins;

.columb1_wrapper,
.columb2_wrapper,
.columb3_wrapper {
  display: none;

  @include mixins.onTablet {
    display: grid;
  }
}

.columb1_wrapper {
  grid-row: 1/3;
  @include mixins.onTablet {
    min-width: 250px;
  }

  @include mixins.on1024 {
    grid-column: 4/6;
    grid-row: 2/4;
    min-width: 200px;
  }
  @include mixins.onDesktop {
    grid-column: 13/16;
  }
}

.columb2_wrapper {
  @include mixins.on1024 {
    grid-column: 6/9;
    grid-row: 2/4;
    min-width: 200px;
  }

  @include mixins.onDesktop {
    grid-column: 17/20;
  }
}

.columb3_wrapper {
  @include mixins.on1024 {
    grid-column: 9/12;
    grid-row: 1/4;
    min-width: 200px;
  }
  @include mixins.onDesktop {
    grid-column: 21/24;
  }
}
