@import url(./_reset.scss);
@import url(./fonts.scss);
@import url(./_vars.scss);
@import url(./mixins.scss);
@import url(./grid.scss);

.App {
  background-color: var(--theme-background);
  font-family: 'BLMelody-Light', 'BLMelody-Bold', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 70, 99, 0.31);
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.overlay.opened {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

body {
  scroll-behavior: smooth;
}

body.locked {
  overflow: hidden;
}
