@use '../../../styles/mixins.scss' as mixins;

.swiper_navigation {
  display: flex;
  justify-content: space-between;

  padding: 10px 35px;
  margin-top: 30px;

  @include mixins.onTablet {
    display: none;
  }
}

.swiper_pagination {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.swiperNext {
  width: 15px;
  height: 15px;
  flex: none;
  transform: rotateZ(225deg);
  -webkit-transform: rotateZ(225deg);
  -moz-transform: rotateZ(225deg);
  -ms-transform: rotateZ(225deg);
  -o-transform: rotateZ(225deg);
  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: var(--main-text);
    border-radius: 0 2px 2px 0;
  }

  &::after {
    right: 6px;
    top: 6px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }

  &::before {
    right: -1px;
    top: 13px;
    transform: rotate(180deg);
  }
}

.swiperPrev {
  @extend .swiperNext;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);

  &::after {
    right: 6px;
    top: 6px;
    transform: rotate(90deg);
  }
}

.disabled {
  &::after,
  &::before {
    background-color: #dfe3ec;
  }
}
