@use '../../../styles/mixins.scss' as mixins;

.nav__item {
  display: flex;
  font-weight: 300;
  font-size: 17px;
  line-height: 16px;
  cursor: pointer;
}

.nav_link {
  text-decoration: none;
  color: var(--main-text);
  cursor: pointer;
  padding: 10px 0;
}
