@use '../../styles/mixins.scss' as mixins;

.wrapper {
  display: flex;
  justify-content: space-between;

  background-color: transparent;
  align-items: center;

  padding: 25px 30px 0;

  @media (min-width: 768px) {
    padding: 25px 50px 0;
  }
  @media (min-width: 1024px) {
    padding: 40px 60px 0;
  }
  @media (min-width: 1550px) {
    padding: 27px 80px 0;
  }
  @media (min-width: 1920px) {
    padding: 27px 100px 0;
  }
}

.btns_wrapper {
  display: flex;
  position: relative;
  align-items: center;

  @include mixins.onDesktop {
    display: none;
  }
}

.logo {
  width: 44px;
  height: 44px;
  fill: var(--logo);
}

.navigation_wrapper {
  display: none;

  @include mixins.onDesktop {
    display: flex;
    align-items: center;
  }
}

.themeWrapper {
  display: none;

  @include mixins.onDesktop {
    margin-right: 54px;
  }
  @include mixins.on1920 {
    margin-right: 80px;
  }

  &.shown {
    display: block;
  }
}
