@use '../../../styles/mixins.scss' as mixins;

.buttonSwitcher {
  cursor: pointer;
  width: 65px;
  top: 5px;
  right: 5px;
  border-radius: 26px;
  height: 36px;
  border: 1px solid var(--decor-line);
  fill: var(--main-text);

  margin-right: 20px;

  @include mixins.onTablet {
    margin-right: 33px;
  }

  @include mixins.onDesktop {
    margin-right: unset;
    height: 30px;
  }

  &:before,
  &:after {
    content: "";
    background: url('./pictures/moon.svg') no-repeat center;
    transition: 0.4s;

    position: absolute;
    left: 0;
    right: 36px;
    border-radius: 50%;
    width: 36px;
    height: 36px;

    @include mixins.onDesktop {
      right: 30px;
      width: 30px;
      height: 30px;
    }
  }
}

.active {
  &:before,
  &:after {
    background: url('./pictures/sun.svg') no-repeat center;
    transform: translateX(29px);

    @include mixins.onDesktop {
      transform: translateX(36px);
    }
  }
}
