@use '../../../styles/mixins.scss' as mixins;

.nav {
  &_list {
    display: grid;

    @include mixins.onDesktop {
      display: flex;
    }
  }

  &_item {
    border-top: 1px solid #7c8dc6;
    padding: 15px 20px;

    &:last-child {
      border-bottom: 1px solid #7c8dc6;
    }

    @include mixins.onTablet {
      padding: 30px 40px;
    }

    @include mixins.onDesktop {
      border: unset;
      padding: unset;
      margin-right: 61px;
      &:last-child {
        border: unset;
        margin: unset;
      }
    }

    @include mixins.on1920 {
      margin-right: 110px;
    }
  }

  &_link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: var((--main-text));
    cursor: pointer;

    @include mixins.on1024 {
      font-size: 18px;
      line-height: 27px;
    }

    @include mixins.onDesktop {
      font-size: 17px;
      line-height: 26px;
    }

    @include mixins.on1920 {
      font-size: 17px;
      line-height: 20px;
    }
  }
}

.mobile {
  @include mixins.onDesktop {
    display: none;
  }
}
