.page {
  margin-top: 90px;
  text-align: center;
  min-height: 76vh;
}

.description {
  margin-top: 45px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  padding: 0 30px;
}

.nav_link {
  color: var(--link-color);
}

.img404 {
  width: fit-content;
}
