@use '../../styles/mixins.scss' as mixins;

.section {
  display: grid;
  background-color: var(--theme-background_2);

  padding: 50px 30px 37px;

  overflow: hidden;

  @include mixins.onTablet {
    padding: 50px 40px 38px;
  }

  @include mixins.on1024 {
    padding: 40px 60px 45px;
  }
  @include mixins.onDesktop {
    padding: 60px 80px 45px;
    align-items: flex-start;
  }
  @include mixins.on1920 {
    padding: 95px 100px 45px;
  }
}

.logo {
  width: 44px;
  height: 44px;
  fill: var(--logo);
  grid-row: 1/1;
  margin-bottom: 40px;

  @include mixins.onDesktop {
    margin-top: 12px;
    justify-self: center;
  }
}

.nav_wrapper {
  grid-row: 2/2;
  margin-bottom: 35px;

  @include mixins.onTablet {
    margin-bottom: unset;
  }

  @include mixins.onDesktop {
    grid-row: 1/1;
  }
}

.social_media_wrapper {
  grid-row: 1/1;
  margin-top: 6px;

  @include mixins.onTablet {
    justify-self: flex-end;
  }

  @include mixins.on1024 {
    grid-row: 2/2;
    align-self: start;
    justify-self: flex-start;
    margin-top: unset;
  }
  @include mixins.onDesktop {
    grid-row: 1/1;
  }
}

.icons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  @include mixins.on1024 {
    justify-content: flex-start;
  }

  @include mixins.onDesktop {
    height: 50px;
  }
}

.follow_text {
  display: none;
  @include mixins.on1024 {
    display: inline-block;
  }
}

.section_title {
  font-family: 'BLMelody-Bold';
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  font-style: normal;
  text-transform: uppercase;
  margin: 35px 0 40px;
  grid-row: 2/2;

  &::after {
    content: ':';
  }

  @include mixins.onTablet {
    &::after {
      content: unset;
    }
  }

  @include mixins.onDesktop {
    margin: 0;
    font-size: 55px;
    grid-row: 1/1;
  }
}

.location_wrapper {
  display: flex;
  align-items: flex-start;
  grid-row: 5/5;

  @include mixins.onTablet {
    grid-row: 2/2;
    justify-self: flex-end;
  }

  @include mixins.on1024 {
    gap: 23px;
  }

  @include mixins.onDesktop {
    grid-row: 1/1;
  }
}

.block_descr {
  font-family: 'BLMelody-Bold';
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include mixins.onDesktop {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 28px;
  }
}

.adress {
  font-size: 16px;
  line-height: 160%;
  color: var(--main-text);
}

.qr {
  width: 80px;
  height: 80px;
  fill: var(--main-text);

  margin-left: 46px;

  @include mixins.on1024 {
    margin-top: unset;
    width: 93px;
    height: 96px;
  }
}

.questions {
  grid-row: 4/4;
  margin-bottom: 35px;

  @include mixins.onTablet {
    margin-top: unset;
    grid-row: 2/2;
  }

  @include mixins.onDesktop {
    grid-row: 1/1;
  }
}

.question_link {
  display: inline-block;
  color: var(--link-color);
  font-weight: 300;
  font-size: 17px;
  line-height: 16px;

  &.we_are {
    margin-top: 15px;
  }
}

.linkedin:hover > svg > path:first-child {
  fill: #0077B5;
}

.facebook:hover svg > path {
  fill: #475993;
}

.instagram_logo:hover {
  path:first-child {
    fill: url(#instHoverContactGrad);
  }
}

.copyright {
  grid-row: 6/6;
  position: relative;
  padding-top: 22px;
  margin-top: 40px;

  font-weight: 300;
  font-size: 15px;
  line-height: 133.5%;
  color: #BBBBBD;

  &::before {
    position: absolute;
    content: '';
    width: 200%;
    height: 1px;
    background-color: var(--decor-line);
    transform: translateX(-10%);
    top: 0;
  }

  @include mixins.onTablet {
    margin-top: 50px;
    font-size: 17px;
  }

  @include mixins.onDesktop {
    margin-top: 60px;
  }
}
